<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951034287423-immk30igtmguemigs488cfa13n4odoii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951034287423-immk30igtmguemigs488cfa13n4odoii</string>
	<key>API_KEY</key>
	<string>AIzaSyCBjgNEO2c8L4jwDehWt_MRdBuP8QozaY8</string>
	<key>GCM_SENDER_ID</key>
	<string>951034287423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thequeue.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-simply</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-simply.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951034287423:ios:445e0ffebccd973a482f8a</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-simply.firebaseio.com</string>
</dict>
</plist>